<div class="main-div">

  <mat-card>
      <h2>Login</h2>

    <mat-card-content>
      <form #signInForm="ngForm" (ngSubmit)="signInForm.valid && onSubmit(signInForm)">

        <mat-form-field>
          <mat-label>Enter your email</mat-label>
          <input matInput placeholder="pat@example.com"
          #email="ngModel" type="email"
          [(ngModel)]="model.email"
          name="email" placeholder="Email"
          [ngClass]="{'invalid-textbox': signInForm.submitted && !email.valid}"
          [pattern]="modulesService.emailRegex" required>
          <mat-error *ngIf="email.errors">
            <span *ngIf="email.errors.required">This field is required.</span>
            <span *ngIf="email.errors.pattern">Invalid email address.</span>
          </mat-error>
        </mat-form-field><br>

        <mat-form-field>
          <mat-label>Password</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" #password="ngModel"
          [(ngModel)]="model.password"
          name="password" placeholder="password"
          minlength="4" required
          [ngClass]="{'invalid-textbox': signInForm.submitted && !password.valid}">
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon class="passEye">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error *ngIf="password.errors">
            <span *ngIf="password.errors.required">This field is required.</span>
            <span *ngIf="password.errors.minlength">Enter atleast 4 characters.</span>
          </mat-error>
        </mat-form-field><br>

        <mat-card-actions>
          <input type="submit" value="Sign In">
        </mat-card-actions>

      </form>

    </mat-card-content>

    <!-- error message -->
    <div class="alert" *ngIf="serverErrorMessages">
      {{serverErrorMessages}}
    </div>

  </mat-card>

  </div>

